<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome Email</title>
</head>

<body>
    <p>{{name}}</p>
    <a href='{{url}}'>Join Now</a>
</body>

</html>